body{
    background-color: black;
    color: red;
    font-family: "Roboto Slab", serif;
}

.chamada{padding-top: 80px;
    padding-bottom: 80px;
    display: flex; /*torna flexivel*/
    justify-content: center;}



.chamada-texto{
    margin-right: 5%;
}

img{
    height: 200px;
}

.categoria{
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(66, 103, 104);
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}